{{define "footer"}}
<footer>
	<div class="container">
		<div data-role="navbar">
			<ul>
				<li><a href="/add" >添加</a></li>
				<li><a href="/edit">编辑</a></li>
				<li><a href="/">取消</a></li>
			</ul>
		</div>
		<p>Copyright 1999-2013 by Refsnes Data. All Rights Reserved.</p>
	</div>
</footer>


<script type="text/javascript" src="static/js/jquery.min.js"></script>
<script type="text/javascript" src="static/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="static/js/dataTables.bootstrap.js"></script>
<script type="text/javascript" src="static/js/page_context.js"></script>
<script type="text/javascript" src="static/js/holder.min.js"></script>
<script type="text/javascript" src="static/js/blog.js"></script>

<!-- Windows 8 中的 Internet Explorer 10 和 Windows Phone 8 显示问题 具体参见 http://v3.bootcss.com/getting-started/#browsers -->
<script type="text/javascript">
	if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
		var msViewportStyle = document.createElement("style")
		msViewportStyle.appendChild(
			document.createTextNode(
				"@-ms-viewport{width:auto!important}"
			)
		)
		document.getElementsByTagName("head")[0].appendChild(msViewportStyle)
	}
</script>

<!--[if lt IE 9]>
<script type="text/javascript" src="http://dw-resources.qiniudn.com/js/html5.js"></script> 
<![endif]-->

{{end}}