<!DOCTYPE html> 
<html> 
　<head> 
　 <title>Edit Page</title> 
　 <meta name="viewport" content="width=device-width, initial-scale=1">
　 {{template "head"}}
  </head> 
<body>

<div class="page" data-role="page" data-title="Page Foo">

	<div class="header" data-role="header">
		<a data-rel="back" data-icon="delete" data-theme="a">Cancel</a>
		<h1>Edit</h1>
		<a href="#" data-icon="check" data-theme="b">Save</a>
	</div><!-- end header -->

	<div class="content" data-role="content">

		<div data-role="collapsible">
			<h3>I'm a header</h3>
　 			<p>I'm the collapsible content. By default I'm open and displayed on the page, 
				but you can click the header to hide me.</p>
		</div>

		<a href="#" data-role="button" data-icon="star" data-theme="a"></a>
		<a href="#" data-role="button" data-icon="star" data-theme="b"></a>
		<a href="#" data-role="button" data-icon="star" data-theme="c"></a>
		<a href="#" data-role="button" data-icon="star" data-theme="d"></a>
		<a href="#" data-role="button" data-icon="star" data-theme="e"></a>
		<a href="#" data-role="button" data-icon="star" data-theme="f"></a>
		<a href="#" data-role="button" data-icon="star" data-theme="g"></a>
		<a href="#" data-role="button" data-icon="star" data-theme="h"></a>
		<a href="#" data-role="button" data-icon="star" data-theme="i"></a>

		<ul>
		　<li>Pets
		　　 <ul>
		　　　<li><a href="index.html">Canary</a></li>
		　　　 <li><a href="index.html">Cat</a></li>
		　　 </ul>
		　 </li>
		　 <li>Farm animals
		　　 <ul>
		　　　 <li><a href="index.html">Chicken</a></li>
		　　　 <li><a href="index.html">Cow</a></li>
		　　 </ul>
		　 </li>
		</ul>
		
	</div><!-- end content -->

	<div class="footer" data-role="footer" data-position="fixed">
		{{template "footer"}}
	</div>

</div><!-- /page -->

</body>
</html>