<!DOCTYPE html> 
<html> 
　<head> 
　 <title>My Page</title> 
　 <meta name="viewport" content="width=device-width, initial-scale=1">
　 <link rel="stylesheet" href="http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.css" />
　 <script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
　 <script src="http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.js"></script>
</head> 
<body>

<div data-role="page">

	<div data-role="header">
		<h1>My Title</h1>
	</div><!-- end header -->

	<div data-role="content">
		<p>Hello world</p> 
		<ul data-role="listview" data-inset="true" data-filter="true">
			<li><a href="" herf="#1">Links1</a></li>
			<li><a href="" herf="#2">Links2</a></li>
			<li><a href="" herf="#3">Links3</a></li>
			<li><a href="" herf="#4">Links4</a></li>
			<li><a href="" herf="#5">Links5</a></li>
		</ul>
		<div>
			<table>
				<tr>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</table>
		</div>
	</div><!-- end content -->
	
	<div id="footer">
		<div>
			<p><strong>Copyright © 2013 Tomz </strong><a rel="nofollow" href="?lang=zh-CN&q="> 简体中文</a></p>
		</div>
	</div>

</div><!-- /page -->

</body>
</html>