{{define "navbar"}}

<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Tom Zhou</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li {{if .isArticlePage}}class="active"{{end}}><a href="/Article">文章</a></li>
        <li {{if .isGalleryPage}}class="active"{{end}}><a href="/Gallery">相册</a></li>
        <li {{if .isAboutPage}}class="active"{{end}}><a href="/About">关于</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Default</a></li>
        <li><a href="./">Static top</a></li>
        <li><a href="#">Fixed top</a></li>
        <li class="divider"></li>
        <li><a href="/login" data-toggle="modal" data-target="#loginDialog">登入</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="loginDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{{end}}